* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop {
  color: #6e6e6e;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.burger-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Responsive */

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
  }
  .burger-items {
    grid-template-columns: 1fr;
    gap: 20px;
}
}
