.container {
  width: 85%;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  position: relative;
}

.burger-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.cart {
  background-color: rgb(240, 240, 240);
  position: sticky;
  top: 0;
  border-radius: 8px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}