.cart {
  background-color: rgb(240, 240, 240);
  position: sticky;
  top: 0;
  border-radius: 8px;
  min-height: 155px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.warning {
  text-align: center;
  color: #f84444;
}

.warning span {
  text-transform: uppercase;
  font-size: 16px;
  color: #ff6347;
  text-shadow: 1px 1px rgb(54, 54, 54);
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cart-btn {
  background-color: #ff6347;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
