.cart-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.item-img {
  width: 20%;
  margin-right: 20px;
}
.item-img img {
  width: 100%;
  height: 60px;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
}